{{template "_layout.tmpl" .}}

{{define "content"}}
<h2>Sign Up</h2>
{{with .Error}}
<p style="color:red;">{{.}}</p>
{{end}}
<form method="POST">
  <label for="username">Username:</label>
  <br>
  <input type="text" id="username" name="username" required pattern=".*\S+.*"><br>
  <label for="password">Password:</label>
  <br>
  <input type="password" id="password" name="password" required pattern=".*\S+.*"><br>
  <button>Create Account</button>
</form>
{{end}}
